/dts-v1/;

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;

	passthrough {
		compatible = "simple-bus";
		ranges;
		#address-cells = <0x02>;
		#size-cells = <0x02>;

	    ref_clk {
		    u-boot,dm-pre-reloc;
		    compatible = "fixed-clock";
		    #clock-cells = <0x00>;
		    clock-frequency = <0x1fca034>;
		    phandle = <0x1b>;
	    };

        ethernet@ff0c0000 {
            compatible = "cdns,versal-gem\0cdns,gem";
            status = "okay";
            reg = <0x00 0xff0c0000 0x00 0x1000>;
            #interrupt-cells = <0x3>;
            interrupt-parent = <0xfde8>;
            interrupts = <0x00 0x38 0x04 0x00 0x38 0x04>;
            clock-names = "pclk\0hclk\0tx_clk\0rx_clk\0tsu_clk";
            #stream-id-cells = <0x01>;
            #address-cells = <0x01>;
            #size-cells = <0x00>;
            phy-handle = <0x09>;
            phy-mode = "rgmii-id";
            clocks = <0x1b 0x1b 0x1b 0x1b 0x1b>;
            phandle = <0x0b>;
            xen,reg = <0x00 0xff0c0000 0x00 0x1000 0x00 0xff0c0000>;
            xen,path = "/axi/ethernet@ff0c0000";

            phy@1 {
                reg = <0x01>;
                ti,rx-internal-delay = <0x0b>;
                ti,tx-internal-delay = <0x0a>;
                ti,fifo-depth = <0x01>;
                ti,dp83867-rxctrl-strap-quirk;
                phandle = <0x09>;
            };

            phy@2 {
                reg = <0x02>;
                ti,rx-internal-delay = <0x0b>;
                ti,tx-internal-delay = <0x0a>;
                ti,fifo-depth = <0x01>;
                ti,dp83867-rxctrl-strap-quirk;
                phandle = <0x0a>;
            };
        };
    };
};
